# Misc
.DS_Store
.vscode/
.husky

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# NPM cache directory
.npm

# Source Maps
*.map

# Env
.env

# Data
data/

# Project Specific
saved_vaults.json
transactions.json
